/* layout */
:root {
  --primary: #901e59;
  --neutral: #fff;
  --dark: #555;
}
body {
  background: #f1f1f1;
  margin: 0;
  font-family: Arial, Arial, Helvetica, sans-serif;
}

/* auth forms */
form.login {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background: var(--neutral);
  border-radius: 4px;
}

form.login h3 {
  text-align: center;
}

label, input {
  display: block;
}
input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
form button {
  background: var(--primary);
  border: 0;
  color: var(--neutral);
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}

.error-message {
  color: red;
  font-size: 0.75rem;
  margin-top: -1em;
}

header {
  background: var(--neutral);
}
header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: var(--primary);
  text-decoration: none;
}

.pages{
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

/* dashboard */
.dashboard {
  width: 100%;
}
.dashboard h3 {
  text-align: center;
  color: var(--primary);
}
.flights {
  width: 50%;
  margin: auto;
}
#flights-table {
  border-collapse: collapse;
  width: 100%;
}

#flights-table td, #flights-table th {
  border: 1px solid #ddd;
  padding: 8px;
  cursor: pointer;
}

#flights-table tr:nth-child(even){background-color: #f2f2f2;}

#flights-table tr:hover {background-color: #ddd;}

#flights-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: var(--primary);
  color:  var(--neutral);
}

/* navbar */
nav {
  display: flex;
  align-items: center;
}
nav a {
  margin-left: 10px;
}
nav button {
  background: var(--neutral);
  color: var(--primary);
  border: 2px solid var(--primary);
  padding: 6px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
  margin-left: 10px;
}